# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

moc_*.cpp
ui_*.h

.DS_Store
/build-debug/
/build-release/
.qmake.stash
moc_*
*.pro.user
mcmc_results.mat
starting_debug.mat
Makefile
/test/
__pycache__
qmake_stash_*
/src/test.json

